@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300;500;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --font-default: 'Poppins', sans-serif;
    --darkest-blue: #0B132B;
    --dark-blue: #1C2541;
    --blue: #2B3964;
    --branco: #FDF9EC;
    --cinza: #cac7bb;
    --laranja: #F46036;

    /* light theme */
    --preto: #272727;
    --verde: #87C0AC;
    --rosa-choque: #F7B6B6;
    --rosa: #FCE4E4;
    --rosa-claro: #FDEDED;
    --rosa-clarinho: #FEF6F6;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: 1s
}

.pageContainer {
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    margin: 30px 0px 0px 15px;
    padding: 20px 0px;
}

.title {
    font-family: var(--font-default);
    color: var(--branco);
    font-size: 20px;
    font-weight: 500;
    margin: 0px 0px 15px 0px;
}

.icon {
    color: var(--branco);
    font-size: 1.5em;
    margin: auto;
    padding: 50px 0px 15px 0px; 
}

.fa-moon {
    color: var(--verde);
}

.operators {
    font-family: var(--font-default);
    text-align: right;
    background-color: var(--darkest-blue);
    overflow-wrap: break-word;
    margin: 0px 15px 0px 15px;
    max-height: 200px;
    border-radius: 10px;
}

.previousOperator {
    color: #cac7bba9;
    font-size: 1.1em;
    padding: 15px 15px 0px 15px;
    min-height: 50px;
}

.currentOperator {
    color: var(--branco);
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
    padding: 0px 15px;
    padding-bottom: 15px;
    min-height: 80px;
}

.calculator {
    max-width: 550px;
    width: 100%;
    min-width: 300px;
}

.buttonsContainer {
    background-color: var(--darkest-blue);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    
}

.calcButton {
    font-family: var(--font-default);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px #C2C2C2;
    transition: 0.2s;
    height: 60px;
    min-width: 60px;
    font-size: 1.8em;
    font-weight: 700;
    background-color: var(--branco);
    color: var(--dark-blue);
}

.calcButton:active {
    box-shadow: 0px 2px #C2C2C2;
    transform: translateY(3px);
}

.largeButton {
    grid-column: span 2;
}

.coloredButtons {
    background-color: var(--blue);
    color: var(--branco);
    box-shadow: 0px 5px #1F2947;
}

.coloredButtons:active {
    box-shadow: 0px 2px #1F2947;
}

.equalButton {
    background-color: var(--laranja);
    color: var(--branco);
    box-shadow: 0px 5px #AE2D09;
}

.equalButton:active {
    box-shadow: 0px 2px #AE2D09;
}

/* Light Theme */

.lightPageContainer {
    background-color: var(--rosa-clarinho);
}

.lightBackground {
    background-color: var(--rosa);
}

.lightEqualButton {
    background-color: var(--verde);
    box-shadow: 0px 5px #6CB299;
    color: #FDEDED;
}

.lightEqualButton:active {
    box-shadow: 0px 2px #6CB299;
}

.lightDisplay {
    background-color: var(--verde);
}

.lightColoredButtons {
    background-color: var(--rosa-choque);
    box-shadow: 0px 5px #F39191;
    color: #FDEDED;
}

.lightColoredButtons:active {
    background-color: var(--rosa-choque);
    box-shadow: 0px 2px #F39191;
}

.lightCalcButtons {
    background-color: #FEF6F6;
    color: var(--preto);
    box-shadow: 0px 5px #F9C8C8;
}

.lightCalcButtons:active {
    box-shadow: 0px 2px #F9C8C8;
}

.lightPreviousOperator {
    color: var(--preto);
}

.lightTitle {
    color: var(--verde);
}